.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 8px 10px;
  cursor: pointer;
}

.contact-item:hover {
  background: #f2f2f2;
}

.contact-name {
  font-size: 14px;
}

.contact-delete-btn {
  background: none;
  font-size: 18px;
  cursor: pointer;
	border: none;
}