* {
	box-sizing: border-box;
}

.contact-form {
  width: 100%;
  border: 2px solid black;
  padding: 15px;
}

.form-container {
  margin-bottom: 50px;
}

.input-container {
  position: relative;
  margin-bottom: 12px;
}

.form-input {
  width: 100%;
  padding: 6px 32px 6px 8px;
  border: 2px solid black;
}

.clear-field-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
	border: none;
  font-size: 18px;
  cursor: pointer;
}

.form-buttons {
  display: flex;
	gap: 10px;
  margin-top: 20px;
}

.btn {
  flex: 1;
  background: none;
  border: 2px solid black;
  padding: 8px 0;
  cursor: pointer;
  font-size: 14px;
}