* {
  box-sizing: border-box;
}

.app-container {
  width: 900px;
  margin: 0 auto;
  border: 2px solid black;
}

.header h1 {
  text-align: center;
  border: 2px solid black;
  padding: 10px 0;
  margin-top: 0;
}

.main-container {
  display: flex;
  gap: 40px;
}

.form {
  width: 50%;
}